<div class="navi">
    <div class="navi__space">
        <div class="navi__flexrow">
            <button routerLink="/patients"><a >Patients</a></button>
            <button><a routerLink="/projects">Project</a></button>
            <button><a routerLink="/patientsInProjects">Patients in Projects</a></button>
            <button routerLink="/studyOrder"><a >study Order</a></button>
            <button routerLink="/studyResult"><a >study Result</a></button>
            <button routerLink="/Summary"><a >Summary</a></button>
        </div>
    </div>
</div>