<div class="navi">
    <div class="navi__content">
        <div class="navi__space">
            <div class="navi__flexrow">
                <button mat-raised-button color="primary" routerLink="/patients">Patients</button>
                <button mat-raised-button color="primary" routerLink="/projects">Project</button>
                <button mat-raised-button color="primary" routerLink="/patientsInProjects/0">Patients in
                    Projects</button>
                <button mat-raised-button color="primary" routerLink="/studyOrder">Study Order</button>
                <button mat-raised-button color="primary" routerLink="/studyResult">Study Result</button>
                <button mat-raised-button color="primary" routerLink="/Summary">Summary</button>
            </div>
        </div>
    </div>


</div>